name: Rust

on: [push, pull_request]

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Check formatting
      run: cargo fmt -- --check

  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features: ['log', 'defmt-log', '""']
    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: cargo build --no-default-features --features ${{matrix.features}} --verbose
    - name: Unpack Disk
      run: gunzip -fk disk.img.gz
    - name: Run Test Mount example
      run: cargo run --no-default-features --features ${{matrix.features}} --example test_mount ./disk.img
    - name: Unpack Disk
      run: gunzip -fk disk.img.gz
    - name: Run Create Test example
      run: cargo run --no-default-features --features ${{matrix.features}} --example create_test ./disk.img
    - name: Unpack Disk
      run: gunzip -fk disk.img.gz
    - name: Run Write Test example
      run: cargo run --no-default-features --features ${{matrix.features}} --example write_test ./disk.img
    - name: Run Unit Tests
      run: cargo test --no-default-features --features ${{matrix.features}} --verbose

